@{
    Layout = "~/Views/Shared/Admin.cshtml";
}

<section class="section">
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Import Location</h5>

              <!-- General Form Elements -->
                <form asp-action="ImportNote" asp-controller="Admin" enctype="multipart/form-data">
                    <div class="row mb-3">
                      <label for="inputNumber" class="col-sm-2 col-form-label">File Upload</label>
                      <div class="col-sm-10">
                        <input class="form-control" type="file" id="formFile" name="note">
                    </div>
                    <div class="col-md-2">
                        <div class="form-floating">
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form><!-- End General Form Elements -->
                 @if (ViewBag.ErrorMessage != null)
                    {
                        <p style="color: red;">@ViewBag.ErrorMessage</p>
                    }
            </div>
          </div>

        </div>
      </div>
    </section>